:root {
    --background-light: #F6F4D2;
    --background-dark: #9A8F97;
    --accent-color: #c16200;
    --primary-color: #2e382e;
    --secondary-color: #412234;
    --secondary-light: #b4c292;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-light);
}

header {
    height: 100px;
    width: 100vw;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    background-color: var(--primary-color);
    color: white;
}


header nav a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

/*-----------------------------*/

.hero {
    height: 500px;
    width: 75vw;
    margin: 150px auto 0 auto;
    background-color: var(--secondary-light);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bio {
    height: 300px;
    width: 700px;
    background-color: var(--primary-color);
}

 .bio h2, .bio p {
    margin-left: 50px;
    margin-top: 50px;
    color: white;
}

.headshot{
    height: 400px;
    width: 300px;
    border-radius: 50px;
}
/*------------------------------*/

main {
    width: 80vw;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main h2 {
    margin: 100px 0 50px 0;
}

.project {
    margin: 50px;
    height: 800px;
    width: 80vw;
    background-color: var(--secondary-color);
}

.img {
    width: 80vw;
    height: 800px;
}

/*------------------------------*/

#skills {
    height: 200px;
    width: 80vw;
    margin: 50px auto 0 auto;
    background-color: var(--secondary-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    height: 75px;
    width: 75px;
}

/*-----------------------------*/

#about-me {
    height: 500px;
    width: 80vw;
    margin: 50px auto 0 auto;
    background-color: var(--secondary-light);
}

/*-------------------------------*/

#contact {
    height: 350px;
    width: 80vw;
    margin: 50px auto 50px auto;
    background-color: var(--secondary-light);
    display: flex;
}

#contact div {
    width: 35vw;
    margin: 50px 50px;
}

/*-------------------------------*/

footer {
    border-top: 1px solid black;
    height: 75px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
}

footer a {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}

/*-------------------------------*/


/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px) {
   
}

/*MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {
   
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {
   
}